@model IEnumerable<Firma.Data.Data.Sklep.Towar>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rodzaj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotoURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rodzaj.Nazwa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTowaru"><button type="button" class="btn btn-primary btn-sm">Edytuj</button></a>
                <a asp-action="Details" asp-route-id="@item.IdTowaru"><button type="button" class="btn btn-primary btn-sm">Detale</button></a>
                <a asp-action="Delete" asp-route-id="@item.IdTowaru"><button type="button" class="btn btn-primary btn-sm">Usuń</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
