@model Firma.Data.Data.CMS.Strona

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Strona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LinkTytul)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkTytul)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tytul)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tresc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tresc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pozycja)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pozycja)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdStrony" />
        <input type="submit" value="Delete" class="btn btn-primary btn-sm" />
        <a asp-action="Index"><button type="button" class="btn btn-primary btn-sm">Powrót do listy</button></a>
    </form>
</div>
