
@*to jest moj kod*@




@model IEnumerable<Firma.Data.Data.Sklep.Rodzaj>

<div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo"><img src="~/img/logo.png" /></a>
    <ul class="right hide-on-med-and-down">
        @*Tu są wszystkie linki*@
        @*Link na sztywno*@
        <li>
            @Html.ActionLink("HOME", "Index", "Home")
        </li>

        @foreach (var item in Model)
        {
            <li>
                @*@Html.ActionLink(item.LinkTytul, "Index", "Home", new { id = item.IdStrony }, null)*@
                <a asp-action="Index" asp-route-id="@item.IdRodzaju">@item.Nazwa</a>
            </li>
        }
    </ul>


    <ul id="nav-mobile" class="sidenav">
        @*linki mobilne*@
        @foreach (var item in Model)
        {
        <li>
            @*@Html.ActionLink(item.LinkTytul, "Index", "Home", new { id = item.IdStrony }, null)*@
            <a asp-action="Index" asp-route-id="@item.IdRodzaju">@item.Nazwa</a>
        </li>
        }
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
</div>